@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* ==== STYLE WHOLE PAGE ==== */
*{
    font-family: Inter,sans-serif !important;
}
html{
    background-color:#121212;
}

/* ==== INPUTS ==== */
#user-input{
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    color:white;
}


/* Scrollbar appearance obtained from https://github.com/downthecrop/minimal-scrollbar project*/
#user-input::-webkit-scrollbar{
    width:5px;
    height:5px
}
#user-input::-webkit-scrollbar-track{
     background: none
}
#user-input::-webkit-scrollbar-thumb {
    background-color: #cfc9c5;
    border-radius: 50%/.7%;
}

/* Button appearance obtained from https://fdossena.com/?p=html5cool/buttons/i.frag */
button{
    display:inline-block;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.3em;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background:none;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color:#03002e;
    background-color: #FFFFFF;
}
#copy-button{
    color: #03002e;
    border: 0.15em solid #03002e;
}

/* ==== Little warning ==== */
#warning{
    color:#d9d9d9;
    fill:#d9d9d9;
}
svg{
    fill:#d9d9d9;
}
.wrong{
    color:rgb(255, 133, 133);
    fill:rgb(255, 133, 133);
}

/* ==== RESULT ==== */
#result{
    background-color: white;
    border-radius:10px;
}
#result-message{
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:#03002e;
}

/* ==== FOOTER ==== */
footer{
    text-align: center;   
    color:white;
}
footer a{
    color:#cfc9c5
}