/* In this project I'm using mobile first methodology. 
This is the design by default and can be seen in small screens */

html{
    padding:5vw;
}
/* ==== HEADER ==== */
header{
    width:100%;
    display:flex;
    justify-content:space-between
}
.logo{
    height:50px;
}
#github-user{
    border-radius:50%;
}

/* ==== FORM ==== */
#form{
    margin-top:40px;
    margin-bottom:30px;
}
#user-input{
    width:100%;
    padding:0
}
#warning{
    margin:20px 0;
}

/* ==== BUTTONS ==== */
#buttons{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
}
button{
    min-width:fit-content;
    padding:10px 50px;
}
/* ==== RESULT ==== */
#result{
    padding:20px;
    justify-content:center;
    flex-direction:column;
    display:none;
    gap:10px;
    margin-bottom: 30px;
}
#result.visible{
    display:flex;
}
#result-message{
    width:100%;
}